version: '3.8'

services:
  app:
    build:
      context: ../
      dockerfile: docker/Dockerfile
    volumes:
      - ../configs:/app/configs
      - ../src:/app/src
    command: python -m src.extractor.main
